* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form1 {
    position: absolute;
    top: 0;
    background-color: #1A72E8;
    color: white;
    height: 100vh;
    max-width: 25%;
    padding: 50px 30px;
}

.logout {
    margin-top: 200px;
}

.searchform {
    width: 30%;
    position: absolute;
    top: 5px;
    left: 500px;
    background-color: #1A72E8;
    padding: 20px 14px;
    border: none;
    border-radius: 5px;
}

.searchform input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#origin-input:focus,
#destination-input:focus {
    border-color: #4d90fe;
}

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.search {
    background-color: #2D3F50;
    position: absolute;
    top: 5px;
    left: 800px;
    padding: 15px 10px;
    border-radius: 5px;
}